@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
em {
  font-family: "Plus Jakarta Sans", sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

/* custom input range style ( track ) */

input[type="range"]::-webkit-slider-runnable-track {
  background: #546fff;
  height: 0.5rem;
  border-radius: 999px;
}

input[type="range"]::-moz-range-track {
  background: #546fff;
  height: 0.5rem;
  border-radius: 999px;
}

/* custom input range style ( thumb ) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -4px;
  border: 2px solid #ffffff;
  border-radius: 999px;
  height: 1rem;
  width: 1rem;
  background: #546fff;
}

input[type="range"]::-moz-range-thumb {
  border: 2px solid #ffffff;
  border-radius: 999px;
  height: 1rem;
  width: 1rem;
  background: #546fff;
}

.mobile-navlist {
  height: calc(100vh - 70px);
  @apply absolute top-full left-0 w-full z-10 py-8 px-6 bg-primary-100;
}

.swiper.mentor-slider .swiper-wrapper,
.swiper.task-slider .swiper-wrapper {
  min-width: 0px;
  width: 0;
}

.primary-button {
  @apply w-full py-3 rounded-xl bg-tertiary-100 text-primary-100 text-sm font-semibold md:w-2/6;
}

.dropdown {
  @apply cursor-pointer font-medium text-xs flex items-center justify-between px-5 py-4 rounded-xl border border-primary-300  transition-all duration-300 ease-in-out;
}

.dropdown:hover {
  @apply hover:bg-primary-300;
}

.dropdown-arrow {
  @apply transition-all duration-200 ease-in w-5 h-5 object-cover;
}

.timezone-switch-button {
  @apply cursor-pointer py-4 px-5 rounded-xl border flex items-center gap-4 md:w-full md:gap-0 md:justify-between transition-all duration-300 ease-in-out;
}

.timezone-switch-circle {
  @apply w-5 h-5 rounded-full transition-all duration-200 ease-in;
}
